#Bruno Andreis Viero Ra1129544  
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcula Idade</title>
</head>
<body>
    <h1>Calculadora de Idade</h1>
    <p>Esta página calcula a sua idade. Abra o Console para ver o resultado.</p>
    <script src="calculadora.js"></script>
</body>
</html>
